    <%- include("../partials/head") %>



<body>
    <%- include("./partials/adminNavbar") %>
        <div class="section-margin container-fluid">
          <div class="row">
            <div class="col-md-12">
                    <h4 class="card-title">Conet Details</h4>
                    <p class="card-category">
                      List of registered people in conet.
                    </p>
                  </div>
                  <div style="overflow: scroll;width: 100%;">
                      <table class="table">
                        <tr>
                        <thead class="text-primary">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Native Place</th>
                        <th>Area Of Expertise</th>
                        <th>What Describes You</th>
                        <th>Suggestions</th>
                        </thead>
                        </tr>
                        <tbody>
                          <% result.forEach(item => { %>
                            <tr>
                              <th scope="row"><%= item._id %></th>
                              <td><%= item.name %></td>
                              <td><%= item.phoneNumber %></td>
                              <td><%= item.email %></td>
                              <td><%= item.nativePlace %></td>
                              <td><%= item.areaOfExpertise %></td>
                              <td><%= item.description %></td>
                              <td><%= item.suggestion %></td>
                            </tr>
                          <%})%>
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
  </body>
    <%- include("../partials/mainScripts") %>

</html>
